# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\matte\Desktop\Ingegneria Sistemi Software\prova 0\iss2021\it.unibo.wenvusage\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
